<template>
  <require from="./frame"></require>
  <require from="./thumb"></require>

  <section class="au-animate">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <template repeat.for="f of sequence">
            <wr-thumb select.bind="selectInternal" set-reference.bind="setReferenceInternal" frame.bind="f" index="${$index}" index-current="${indexCurrent}" index-reference="${indexReference}"></wr-thumb>
          </template>
        </div>
        <div class="col-xs-9">
          <wr-frame dirty.bind="dirtyInternal" frame.bind="frame"></wr-frame>
        </div>
      </div>
    </div>
  </section>
</template>
