<template>
  <style>
    .wr-frame {
      position:fixed;
      top:0;
      max-height: 100%;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .wr-frame .nav {
      margin: 0.5em 0;
      cursor: pointer;
    }

    .wr-frame > div {
      text-align: center;
    }

    .wr-frame svg {
      width: 100%;
      height: 100%;
      max-height: calc(100vh - 5em);
      margin: 0 auto;
    }

    .wr-frame .point {
      stroke: #0f0;
      stroke-width: 1em;
      fill: transparent;
    }
  </style>

  <div class="wr-frame">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class.bind="activeFrame == frame && !preview ? 'active' : ''">
        <a click.delegate="showTab('frame')">Frame <span class="badge">${3 - frame.points.size || ''}</span></a>
      </li>
      <li role="presentation" class.bind="activeFrame == reference ? 'active' : ''">
        <a click.delegate="showTab('reference')">Reference <span class="badge">${3 - frame.refPoints.size || ''}</span></a>
      </li>
      <li role="presentation" class.bind="preview ? 'active' : ''">
        <a click.delegate="showTab('preview')">Preview</a>
      </li>
    </ul>
    <div>
      <template if.bind="source">
        <?xml version="1.0" encoding="utf-8" ?>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="${viewBox}" class="img-rounded" ref="svg">
          <image width="${activeFrame.width}" height="${activeFrame.height}" xlink:href="${activeFrame.src}" click.delegate="click($event)" transform.bind="transform"/>
          <g repeat.for="point of activePoints">
            <circle class="point" cx="${point.x}" cy="${point.y}" r="48" click.delegate="remove(point)"/>
          </g>
        </svg>
      </template>
      <p class="text-danger" if.bind="!source">(no image)</p>
    </div>
  </div>
</template>
