<template>
  <style>
    .wr-thumb {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 0.5em;
    }

    .wr-thumb > div:first-of-type {
      margin-right: 0.5em;
    }
  </style>
  <div class="wr-thumb">
    <div>
      <div class="checkbox checkbox-primary">
        <input type="checkbox" class="styled styled-primary" checked.bind="frame.enabled">
        <label></label>
      </div>
      <template if.bind="frame.enabled">
        <span class="badge">${6 - frame.points.size - frame.refPoints.size || ''}</span>
      </template>
    </div>
    <div click.delegate="select(frame)" >
      <img if.bind="source" src.bind="frame.src" class="img-responsive img-rounded">
      <span if.bind="!source">(no image)</span>
    </div>
  </div>
</template>
